
/* Resetowanie stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 /* Dodaj animację */
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    /* Styl dla loga Discord */
    .discord-logo {
        width: 50px;
        height: auto;
        transition: transform 0.3s ease-in-out; /* Dodaj płynny przejście */
    }

    /* Zastosuj animację na najechanie myszką */
    .discord-logo:hover {
        animation: spin 2s linear infinite; /* Obrót loga */
    }

/* Styl dla przycisku pobierania */
.download-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #45a049;
}

.premium-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid #ff6600;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: absolute;
    top: 10px;
    right: 10px;
}

.premium-link:hover {
    background-color: #ff8533;
    color: #fff;
}

/* Styl dla całego ciała strony */
body {
    background-color: #36393f; /* Kolor tła Discorda */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #fff; /* Kolor tekstu */
}

header {
    background-color: #7289da; /* Kolor nagłówka Discorda */
    text-align: center;
    padding: 1em 0; /* Zmniejszono padding, aby lepiej pasował do wysokości logo */
    position: relative;
}

/* Styl dla logo w nagłówku */
header img {
    height: 80px; /* Wysokość logo, dostosuj w razie potrzeby */
    width: auto; /* Zachowanie proporcji */
    display: block;
    margin: 0 auto;
}

/* Ogólne style dla sekcji */
section {
    background-color: #202225; /* Kolor sekcji Discorda */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2em;
    margin: 2em auto;
    max-width: 800px;
    text-align: justify;
}

h1, h2 {
    color: #fff;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
    margin-bottom: 1em;
}

/* Styl dla sekcji specyficznych */
.contact-section,
.price-section,
.servers-section,
.demo-section {
    background-color: #202225; /* Kolor sekcji kontaktowej i cennika Discorda */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 2em;
    margin: 2em auto;
    max-width: 800px;
    text-align: justify;
}

.servers-section ul {
    list-style-type: none;
    padding: 0;
}

.servers-section ul li {
    margin-bottom: 0.5em;
}

/* Styl dla stopki */
footer {
    background-color: #36393f; /* Kolor stopki Discorda */
    color: #fff;
    text-align: center;
    padding: 1em 0;
    font-size: 0.8em;
}

/* Styl dla tytułu galerii */
.gallery-title {
    text-align: center;
    margin-top: 2em;
    color: #fff;
}

/* Styl dla obrazków w galerii */
.gallery-item {
    display: inline-block;
    width: 400px; /* Zwiększenie szerokości obrazków */
    height: 300px; /* Ustawienie wysokości na 300px, zachowanie proporcji */
    overflow: hidden; /* Zapewnienie, że obrazy zostaną przycięte do obszaru */
    margin-right: 20px;
    text-align: center; /* Wyśrodkowanie obrazków */
}

.gallery-item img {
    max-width: 100%;
    height: 100%; /* Zapewnienie, że obrazy w całości zmieszczą się w obszarze */
    display: inline-block;
    vertical-align: middle;
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

/* Media queries dla responsywności */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
    header img {
        height: 60px; /* Mniejsza wysokość logo na urządzeniach mobilnych */
    }
    .download-button {
        padding: 8px 16px;
        font-size: 0.9em;
    }
} 
