/* style.css */

/* Reszta stylów pozostaje bez zmian */

.price-section {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.price-section h2 {
    color: #333;
    font-size: 1.5em; /* Nowy rozmiar nagłówka */
    margin-bottom: 10px; /* Mniejszy margines dolny */
}

.price-section p {
    color: #666;
    font-size: 1em; /* Nowy rozmiar tekstu */
    margin-bottom: 10px; /* Mniejszy margines dolny */
}

.contact-section {
    background-color: #202225; /* Kolor sekcji kontaktowej Discorda */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px; /* Nowa wartość paddingu */
    margin: 20px auto; /* Nowa wartość marginesu */
    max-width: 800px;
    text-align: justify;
    color: #fff; /* Nowy kolor tekstu */
}

.contact-section h2 {
    color: #fff; /* Nowy kolor nagłówka */
    font-size: 1.5em; /* Nowy rozmiar nagłówka */
    margin-bottom: 10px; /* Mniejszy margines dolny */
}

.contact-section p {
    color: #fff; /* Nowy kolor tekstu */
    font-size: 1em; /* Nowy rozmiar tekstu */
    margin-bottom: 10px; /* Mniejszy margines dolny */
}

.contact-section a {
    color: #7289da; /* Kolor linku Discorda */
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-section a:hover {
    color: #677bc4; /* Kolor linku po najechaniu myszką */
}

